.adPage{
    align-content: space-between;
}

.adPanel{
    width: 100%;
}

.adPage .primaryBtn{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 4px solid var(--lightBlue);
    font-size: 36px;
    font-weight: 400;
    padding: 0;
    position: absolute;
    bottom: 48px;
    right: 48px;
}

.adPage .adRow{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr .4fr .2fr;
    margin: auto;
    color: var(--black);
    margin: 8px auto;
    gap: 12px;
    align-items: center;
    text-align: start;
    background-color: var(--white);
    padding: 16px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px #24242430;
    overflow: hidden;
    transition: .3s;
}

.adPage .adRow:hover{
    transform: scale(1.01);
    background-color: #4BC1EA30;
}

.adPage .adRow span{
    color: var(--lightBlack);
    opacity: .8;
}

.adPage .adRow button{
    display: flex;
    background: none;
    border: none;
    opacity: .7;
    transition: .6;
    justify-content: center;
}

.adPage .adRow button:hover{
    opacity: 1;
}

.adPage .adRow button .icon{
    width: 24px;
    fill: var(--black);
}
