.modalContainer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #24242460;
    flex-direction: column;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appearElement 1s;
}

.modalWindow{
    width: 460px;
    height: auto;
    padding: 48px 64px;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0 0 20px #24242460;
    color: var(--black);
    animation: showElement 1s;
}

.modalWindow .headerModal{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-bottom: 36px;
}

.modalWindow .headerModal h4{
    font-size: 28px;
    font-weight: 500;
}

.modalWindow .headerModal button{
    position: absolute;
    right: 0;
    background: none;
    border: none;
    opacity: .7;
    transition: .6s;
}

.modalWindow .headerModal button:hover{
    opacity: 1;
}

.modalWindow .headerModal button img{
    width: 16px;
    height: auto;
}

.modalWindow form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.modalWindow form input{
    width: 100%;
    font-size: 16px;
    padding: 6px;
    border: none;
    border-bottom: 1px solid var(--black);
}

.modalWindow form select{
    margin-right: auto;
    width: 50%;
    font-size: 16px;
    padding: 6px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--black);
}

.modalWindow form button{
    margin-left: auto;
    font-size: 16px;
    padding: 6px 8px;

}