.adPage{
    align-content: space-between;
}

.adPage .headerPanel{
    display: grid;
    grid-template-columns: 1fr 1fr .4fr .2fr;
    gap: 12px;
}

.adPage > .primaryBtn{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 4px solid var(--lightBlue);
    font-size: 36px;
    font-weight: 400;
    padding: 0;
    margin-left: auto;
}

.adPage .single{
    grid-template-columns: 1fr 1fr .4fr .2fr;
}

.adPage > form{
    width: 80%;
    background-color: var(--white);
    border-radius: 36px;
    box-shadow: 5px 5px 20px #24242440;
    padding: 36px 48px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.adPage form .customInput{
    width: 100%;
    margin-left: 0;
}

.adPage form textarea{
    width: 100%;
}


.adPage form button{
    margin-left: auto;
}

.adPage .currentAd{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--white);
    border-radius: 36px;
    box-shadow: 5px 5px 20px #24242440;
    padding: 36px 48px;
    margin: auto;
    gap: 24px;
}

.adPage .currentAd img{
    width: 30%;
    height: auto;
    display: flex;
    margin: auto;
}

.adPage .currentAd form{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.adPage .currentAd > button{
    margin-right: auto;
    margin-top: 24px;
}
