.myUserMain{
    justify-content: space-between;
    align-items: flex-start;
}

.myUserMain section{
    width: 48%;
    margin: auto;
    color: var(--black);
    padding: 36px;
    border-radius: 36px;
    background-color: var(--white);
    box-shadow: 5px 5px 20px #24242440;
}

.myUserMain h3{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

.myUserInformation{
    padding: 36px;
    border-radius: 36px;
    background-color: var(--white);
    box-shadow: 5px 5px 20px #24242440;
}



.myUserInformation h4{
    font-size: 14px;
    margin-right: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin: 16px 0;
    color: var(--lightBlack);
    position: relative;
    min-width: 300px;
    padding: 16px;
    border-bottom: 1px solid #24242440;
    transition: .6s;
}

.myUserInformation h4:hover{
    background-color: #70707010;
}

.myUserInformation h4 span{
    font-weight: 400;
    font-size: 18px;
    color: var(--black);
    position: absolute;
    left: 86px;
}

.myUserForm form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.myUserForm .customInput{
    width: 100%;
    margin: 16px 0;
}




