/*
Breakpoints:
1024px
768px
640px
*/

*{
    font-family: 'Roboto', 'Segoe-UI', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

:root{
    --purple: #B67DEF;
    --lightBlue: #4BC1EA;
    --pink: #FF90E8;
    --yellow: #FFF030;
    --green: #C4F300;
    --blue: #5148F7;
    --black: #242424;
    --lightBlack: #404040;
    --white: #FFFFFF;
    --lightGrey: #F6F6F6;
    --errorColor: #DC3545;
}

.container{
    max-width: 1280px;
    margin: auto;
    position: relative;
    z-index: 2;
}

/*-------------------BUTTON----------------------*/

button{
    cursor: pointer;
}

.primaryBtn{
    border: 2px solid var(--lightBlue);
    background-color: var(--lightBlue);
    color: var(--white);
    transition: .6s;
}

.primaryBtn:hover,
.primaryBtn:active,
.primaryBtn:focus{
    background: none;
    color: var(--lightBlue);
}

.primaryBtn.loadingBtn{
    animation: loadingBtn 1s alternate infinite;
}

.primaryBtn:disabled,
.primaryBtn:disabled:hover,
.primaryBtn:disabled:active,
.primaryBtn:disabled:focus{
    background-color: #404040A0;
    border: 2px solid var(--lightBlack);
    color: var(--white);
    transition: .6s;
}

.dangerBtn{
    background: none;
    border: none;
    color: #DC3545;
    opacity: .7;
    font-weight: 500;
    transition: .6s;
}

.dangerBtn:hover,
.dangerBtn:active,
.dangerBtn:focus{
    opacity: 1;
}

/*-------------------MESSAGES----------------------*/

.messageError{
    background-color: #DC3545A0;
    padding: 16px 36px;
    margin: 16px auto;
    width: 460px;
    border-radius: 12px;
    text-align: center;
}

.messageWarning{
    background-color: #FFC107A0 ;
    padding: 16px 36px;
    margin: 16px auto;
    width: 460px;
    border-radius: 12px;
    text-align: center;
}

/*-------------------LOADING----------------------*/

.loadingPage{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFFA0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--blue);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

/*-------------------MODAL----------------------*/

.modalContainer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #24242460;
    flex-direction: column;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appearElement 1s;
}

.modalWindow{
    width: 640px;
    height: auto;
    padding: 48px 64px;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0 0 20px #24242460;
    color: var(--black);
    animation: showElement 1s;
}

.modalWindow .headerModal{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-bottom: 36px;
}

.modalWindow .headerModal h4{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.modalWindow .headerModal button{
    position: absolute;
    right: 0;
    background: none;
    border: none;
    opacity: .7;
    transition: .6s;
}

.modalWindow .headerModal button:hover{
    opacity: 1;
}

.modalWindow .headerModal button img{
    width: 16px;
    height: auto;
}

.modalWindow form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.modalWindow form input{
    width: 100%;
    font-size: 16px;
    padding: 6px;
    border: none;
    border-bottom: 1px solid var(--black);
}

.modalWindow form select{
    margin-right: auto;
    width: 50%;
    font-size: 16px;
    padding: 6px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--black);
}

.modalWindow form button{
    font-size: 16px;
    padding: 6px 8px;
}

.modalWindow form > button{
    margin-left: auto;
}

.modalWindow form .btnPanel{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*-------------------ANIMATIONS----------------------*/

@keyframes showElement {
    from{
        transform: translateY(30%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes appearElement {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes loadingBtn {
    from{ background-color: #4BC1EA;}
    to{ background-color: #4BC1EA30;}
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 