/*
Breakpoints:
1024px
768px
640px
*/

*{
    font-family: 'Roboto', 'Segoe-UI', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

:root{
    --purple: #B67DEF;
    --lightBlue: #4BC1EA;
    --pink: #FF90E8;
    --yellow: #FFF030;
    --green: #C4F300;
    --blue: #5148F7;
    --black: #242424;
    --lightBlack: #404040;
    --white: #FFFFFF;
    --lightGrey: #F6F6F6;
    --errorColor: #DC3545;
}

.container{
    max-width: 1280px;
    margin: auto;
    position: relative;
    z-index: 2;
}

main{
    padding: 36px 7%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}

/*-------------------BUTTON----------------------*/

button{
    cursor: pointer;
}

button:disabled{
    opacity: .6;
    cursor: default;
}

.primaryBtn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid var(--lightBlue);
    background-color: var(--lightBlue);
    color: var(--white);
    border-radius: 4px;
    overflow: hidden;
    transition: .6s;
}

.primaryBtn:hover,
.primaryBtn:active{
    background: none;
    color: var(--lightBlue);
}

.primaryBtn:disabled:hover,
.primaryBtn:disabled:active{
    background-color: var(--lightBlue);
    color: var(--white);
}

.primaryBtn.loadingBtn{
    background-color: var(--lightBlue);
    color: var(--white);
}

.primaryBtn.loadingBtn::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--white);
    opacity: .7;
    position: absolute;
    top: 0;
    left: 0;
}

.primaryBtn.loadingBtn::after{
    content: "";
    width: 12px;
    height: 12px;
    border: 4px solid var(--lightBlue);
    border-radius: 100%;
    border-bottom-color: transparent;
    position: absolute;
    animation: spiner 1.5s ease-out infinite;
}

.secondaryBtn,
.dangerBtn{
    position: relative;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 4px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    transition: .6s;
    margin: auto 0;
    opacity: .7;
}

.secondaryBtn::after,
.dangerBtn::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
}

.secondaryBtn:hover,
.secondaryBtn:active,
.dangerBtn:hover,
.dangerBtn:active{
    opacity: 1;
}

.secondaryBtn.loadingBtn,
.dangerBtn.loadingBtn{
    opacity: 1;
}

.secondaryBtn.loadingBtn::after,
.dangerBtn.loadingBtn::after{
    animation: sliceLine 2s ease-in-out infinite;
}

.secondaryBtn{
    color: var(--lightBlue);
}

.secondaryBtn::after{
    background-color: var(--lightBlue);
}

.dangerBtn{
    color: var(--errorColor);
}

.dangerBtn::after{
    background-color: var(--errorColor);
}
/*-------------------MESSAGES----------------------*/

.messageSuccess{
    background-color: #28A745A0;
    padding: 16px 36px;
    margin: 16px auto;
    width: 100%;
    border-radius: 12px;
    text-align: center;
}

.messageError{
    background-color: #DC3545A0;
    padding: 16px 36px;
    margin: 16px auto;
    width: 100%;
    border-radius: 12px;
    text-align: center;
}

.messageWarning{
    background-color: #FFC107A0 ;
    padding: 16px 36px;
    margin: 16px auto;
    width: 100%;
    border-radius: 12px;
    text-align: center;
}

/*-------------------LOADING----------------------*/

.loadingPage{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFFA0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    width: 64px;
    height: 64px;
    border: 6px solid;
    border-radius: 100%;
    border-bottom-color: #4BC1EA00;
    border-left-color: #4BC1EA55;
    border-right-color: #4BC1EAAA;
    border-top-color: #4BC1EA;
    animation: spiner infinite linear .5s;

}

/*-------------------MODAL----------------------*/

.modalContainer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #24242460;
    flex-direction: column;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appearElement 1s;
}

.modalWindow{
    width: 640px;
    height: auto;
    padding: 48px 64px;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0 0 20px #24242460;
    color: var(--black);
    animation: showElement 1s;
}

.modalWindow .headerModal{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-bottom: 36px;
}

.modalWindow .headerModal h4{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.modalWindow .headerModal button{
    position: absolute;
    right: 0;
    background: none;
    border: none;
    opacity: .7;
    transition: .6s;
}

.modalWindow .headerModal button:hover{
    opacity: 1;
}

.modalWindow .headerModal button .closeIcon{
    width: 16px;
    height: auto;
    transition: .6s;
}

.modalWindow .headerModal button:hover .closeIcon{
    fill: var(--errorColor);
}

.modalWindow form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.modalWindow form button{
    font-size: 16px;
    padding: 6px 8px;
}

.modalWindow form > button{
    margin-left: auto;
}

.modalWindow form .btnPanel{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*-------------------INPUT----------------------*/
.customInput {
    position: relative;
    display: flex;
    align-items: center;
    margin: 8px auto;
    width: 80%;
}
  
.customInput input {
    position: relative;
    width: 100%;
    z-index: 2;
    outline: none;
    border: none;
    border-bottom: 2px solid #707070;
    color: var(--black);
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    background: none;
    transition: 0.3s;
}

.customInput input:disabled{
    color: var(--lightBlack);
}
  
.customInput span {
    position: absolute;
    left: 12px;
    top: 25%;
    font-size: 16px;
    color: #707070;
    transition: 0.3s;
    z-index: 1;
}
  
.customInput input:focus {
    border-bottom: 2px solid var(--lightBlue);
}
  
.customInput.notEmpty span,
.customInput input:focus ~ span {
    top: -8px;
    left: 6px;
    font-size: 12px;
    color: var(--lightBlue);
}

.modalWindow .customInput{
    width: 100%;
}

/*-------------------SELECT----------------------*/

select{
    margin-right: auto;
    width: 50%;
    font-size: 16px;
    padding: 6px;
    background: none;
    border: none;
    border-bottom: 2px solid #707070;
    color: var(--black);
    border-radius: 4px 4px 0 0;
    transition: .6s;
}

select:hover{
    background-color: #70707010;
}

 select:focus{
    border-bottom: 2px solid var(--lightBlue);
}

/*-------------------LABELS----------------------*/

.modalWindow form .label{
    font-size: 16px;
    font-weight: 300;
    margin-left: 4px;
    color: var(--lightBlack);
}

/*-------------------ANIMATIONS----------------------*/

@keyframes showElement {
    from{
        transform: translateY(30%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes appearElement {
    from{opacity: 0;}
    to{opacity: 1;}
}


@keyframes rotation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
} 

@keyframes spiner {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
 
 }
 
 @keyframes sliceLine {
     from{transform: translateX(-100%);}
     to{transform: translateX(100%);}
 }

 @media (max-width: 1024px){
}


@media (max-width: 768px){
}

@media (max-width: 640px){
    .customInput{
        width: 100%;
    }
}

@media (max-width: 400px){

}