.programPage{
    align-content: flex-start;
    flex-wrap: wrap;
}

.programPage .navMenu{
    margin: 16px 0;
    width: 100%;
    display: flex;
    gap: 16px;
}

.programPage .navMenu a{
    color: var(--mediumGrey);
    padding: 4px;
    opacity: .7;
    transition: .6s;
}

.programPage .navMenu a:hover{
    opacity: 1;
}

.programPage .navMenu a.active{
    opacity: 1;
    color: var(--lightBlue);
}

.programPage .programPanel{
    width: 100%;
}

.programPage .programPanel .headerPanel{
    width: 100%;
    display: grid;
    grid-template-columns: .6fr .8fr .5fr .3fr .3fr .2fr;
    gap: 12px;
}

.programPage > .primaryBtn{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 4px solid var(--lightBlue);
    font-size: 36px;
    font-weight: 400;
    padding: 0;
    margin-top: 64px;
    margin-left: auto;
}

.programPage .programPanel .single{
    grid-template-columns: .6fr .8fr .5fr .3fr .3fr .2fr;
}

.programPage .programPanel .single .days span{
    font-size: 12px;
    font-weight: 300;
    margin: 2px;
    padding: 2px 4px;
    background-color: var(--mediumGrey);
    border-radius: 4px;
    color: var(--white);
    opacity: .8;
    cursor: default;
}

.programPage .programPanel .single .days span.activeDay{
    opacity: 1;
    background-color: var(--lightBlue);
}

.programPage .programPanel .single p.normal{
    color: var(--mediumGrey);
    opacity: .7;
}

.programPage .programPanel .single p.highlighted{
    color: var(--lightBlue);
}

.programPage > form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin: auto;
    width: 80%;
    background-color: var(--white);
    border-radius: 36px;
    box-shadow: 5px 5px 20px #24242440;
    padding: 36px 48px;
}

.programPage form .customInput{
   margin: 8px 0;
}

.programPage form .days{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 8px 0;
}

.programPage form .hours{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 8px 0;
}

.programPage form .hours input{
    margin: 0 12px;
}

.programPage form .primaryBtn{
    margin-left: auto;
}

.programPage .currentProgram{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    width: 100%;
    background-color: var(--white);
    border-radius: 36px;
    box-shadow: 5px 5px 20px #24242440;
    padding: 36px 48px;
}

.programPage .currentProgram .imageContainer{
    width: 30%;
}

.programPage .currentProgram .imageContainer img{
    width: 100%;
    height: auto;
}

.programPage .currentProgram .imageContainer p{
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin: auto;
    color: var(--mediumGrey);    
}

.programPage .currentProgram form{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.programPage .transmissionPanel{
    width: 100%;
}

.programPage .transmissionPanel .headerPanel{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .6fr .8fr .8fr .2fr;
    gap: 12px;
}

.programPage .transmissionPanel .single{
    grid-template-columns: 1fr .6fr .8fr .8fr .2fr;
}
