.usersMain{
    align-content: space-between;
}

.usersMain > .primaryBtn{
    margin-left: auto;
}

.userPanel{
    width: 100%;
    color: var(--black);
}

.userPanel .headerPanel{
    width: 100%;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr .5fr .2fr;
    gap: 12px;
    padding: 16px 24px;
    border-bottom: 2px solid var(--lightBlack);
    color: var(--lightBlack);
}

.userPanel .headerPanel p{
    padding: 6px 12px;
}

.userPanel .headerPanel button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: none;
    font-size: 16px;
    color: var(--black);
    font-weight: 400;
    padding: 6px 12px;
    border-radius: 4px;
    transition: .6s;
}

.userPanel .headerPanel button:hover{
    background-color: #4BC1EA30;
}

.userPanel .headerPanel button .icon{
    width: 8px;
}

.userRow{
    margin: 8px auto;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr .5fr .2fr;
    gap: 12px;
    align-items: center;
    text-align: start;
    width: 100%;
    background-color: var(--white);
    padding: 16px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px #24242430;
    overflow: hidden;
    transition: .3s;
}

.userRow p{
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    padding: 0 16px;
}

.userRow:hover{
    transform: scale(1.01);
    background-color: #4BC1EA30;
}

.userRow .icon{
    width: 24px;
    fill: var(--black);
}

.userRow button{
    background: none;
    border: none;
    opacity: .7;
    transition: .6s;
}

.userRow button:hover{
    opacity: 1;
}