.usersMain{
    align-content: space-between;
}

main table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    color: var(--black);
}

main table thead{
    display: table-header-group
}

main table thead tr{
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid var(--black);
    text-align: left;
}

main table thead tr th{
    padding: 8px 12px;
}


main table thead tr th:last-child{
    text-align: center;
}

main table tbody tr th{
    text-align: left;
    padding: 12px;
    font-weight: 300;
}

main table tbody tr{
    border-bottom: 1px solid #909090;
}

main table tbody tr th:last-child{
    text-align: center;
}

main table tbody button{
    background: none;
    border: none;
    padding: 8px;
    border-radius: 8px;
    transition: .6s;
    margin: auto;
}

main table tbody button:hover{
    background-color: #90909020;    
}

main table tbody button .editIcon{
    width: 24px;
    height: auto;
    fill: var(--black);
    opacity: .8;
    transition: .6s;
}

main table tbody button:hover .editIcon{
    opacity: 1;
}

main.usersMain > button{
    display: flex;
    font-size: 16px;
    margin-left: auto;
}